In [30]:
import numpy as np
import scipy as sp
import pandas as pd
from pandas import Series, DataFrame

import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

In [31]:
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_row', 500)
sns.set()
%matplotlib inline
%precision 6

'%.6f'

In [32]:
plt.rcParams['font.family'] = 'IPAexGothic'
plt.rcParams['font.size'] = 6

In [33]:
# 打席結果データの読み込み
bats = pd.read_csv('../live-stats/bat-2023.csv')
bats

,date,team.top,team.bottom,inning,top_bottom,batter_number,before_score.top,before_score.bottom,after_score.top,after_score.bottom,point,before_out,before_1b,before_2b,before_3b,after_out,after_1b,after_2b,after_3b,batter.id,batter.handed,batter.name,pitcher.id,pitcher.handed,pitcher.name,direction,result,rc
0,2023-03-30,楽天,日本ハム,1,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1800117,左,辰己 涼介,1500110,左,加藤 貴之,NaN,見三振,-0.204
1,2023-03-30,楽天,日本ハム,1,1,2,0,0,0,0,0,1,0,0,0,2,0,0,0,1900112,左,小深田 大翔,1500110,左,加藤 貴之,左,飛,-0.153
2,2023-03-30,楽天,日本ハム,1,1,3,0,0,0,0,0,2,0,0,0,2,1,0,0,1460250,右,フランコ,1500110,左,加藤 貴之,右,安,0.117
3,2023-03-30,楽天,日本ハム,1,1,4,0,0,0,0,0,2,1,0,0,3,0,0,0,900056,右,浅村 栄斗,1500110,左,加藤 貴之,左,飛,-0.210
4,2023-03-30,楽天,日本ハム,1,2,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1100095,右,松本 剛,700069,右,田中 将大,NaN,空三振,-0.204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2500,2023-04-06,ソフトバンク,オリックス,8,2,8,2,7,2,7,0,2,1,1,0,3,0,0,0,1300100,左,森 友哉,1100119,左,嘉弥真 新也,NaN,見三振,-0.430
2501,2023-04-06,ソフトバンク,オリックス,9,1,1,2,7,2,7,0,0,0,0,0,1,0,0,0,1000035,右,今宮 健太,1600155,右,山﨑 颯一郎,遊,直,-0.204
2502,2023-04-06,ソフトバンク,オリックス,9,1,2,2,7,2,7,0,1,0,0,0,2,0,0,0,1160568,左,ガルビス,1600155,右,山﨑 颯一郎,NaN,見三振,-0.153
2503,2023-04-06,ソフトバンク,オリックス,9,1,3,2,7,2,7,0,2,0,0,0,2,1,0,0,1700135,左,周東 佑京,1600155,右,山﨑 颯一郎,NaN,四球,0.117
2504,2023-04-06,ソフトバンク,オリックス,9,1,4,2,7,2,7,0,2,1,0,0,3,0,0,0,1100097,左,近藤 健介,1600155,右,山﨑 颯一郎,一,ゴロ,-0.210

In [34]:
# プロファイル
profile = pd.read_csv('../live-stats/batter-profile-2023.csv')

In [35]:
batter_id = 2000035

In [36]:
player = pd.DataFrame([])

In [37]:
player['AB'] = bats.groupby(['batter.id']).count()['batter.name'].sort_values(ascending=False)

In [38]:
player['RE'] = bats.groupby(['batter.id']).sum(numeric_only=True)['rc'].sort_values(ascending=False)

In [39]:
player = pd.merge(player, profile, left_on=['batter.id'], right_on=['id'], how='left')

In [48]:
player.sort_values('RE', ascending=False).groupby(['team']).sum()['RE'].sort_values(ascending=False)

/tmp/ipykernel_94412/651156217.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player.sort_values('RE', ascending=False).groupby(['team']).sum()['RE'].sort_values(ascending=False)

team
福岡ソフトバンクホークス       5.203
阪神タイガース            4.532
オリックス・バファローズ      -3.147
読売ジャイアンツ          -6.400
東京ヤクルトスワローズ       -7.797
横浜DeNAベイスターズ      -8.750
広島東洋カープ           -9.051
千葉ロッテマリーンズ        -9.950
埼玉西武ライオンズ        -11.207
北海道日本ハムファイターズ    -11.664
中日ドラゴンズ          -12.850
東北楽天ゴールデンイーグルス   -15.003
Name: RE, dtype: float64

In [41]:
player['RE'].sum()

-86.084000